name: Build and Publish Docker Image to Docker Hub
on:
  push:
  workflow_dispatch:

jobs:
  publish_images:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push from correct folder
        run: |
          cd SampleAppDockerImageCiCdLinuxV1
          docker build . -t pavnesht24/sampleappdockerimagecicdlinuxv1:latest
          docker push pavnesht24/sampleappdockerimagecicdlinuxv1:latest

      - name: Verify image is live
        run: |
          docker pull pavnesht24/sampleappdockerimagecicdlinuxv1:latest
          echo "IT'S ALIVE - Your real app is now on Docker Hub!"