name: Build and Publish Docker Image to Docker Hub

on:
  push:
  workflow_dispatch:

jobs:
  publish_images:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push (FINAL)
        run: |
          cd SampleAppDockerImageCiCdLinuxV1
          docker build . --no-cache -t pavnesht24/sampleappdockerimagecicdlinuxv1:latest
          docker push pavnesht24/sampleappdockerimagecicdlinuxv1:latest

      - name: Verify
        run: |
          docker pull pavnesht24/sampleappdockerimagecicdlinuxv1:latest
          echo "IT'S ALIVE — YOUR REAL MVC APP IS IN THE IMAGE!"